
<template>
  <div class="game" @click="clickOnInterface">
    <span
      class="round"
      :style="roundStyle"
      @click.stop="clickOnRound"
      @click.alt.stop="bonus"
      :class="{bonus: bonusActivated}"
    ></span>
  </div>
</template>

<script>
export default {
  name: "game",
  data() {
    return {
      click: 0,
      roundStyle: {
        height: "50px",
        width: "50px",
        margin: "20% 20%"
      },
      bonusActivated: false
    };
  },

  created: function() {
    document.onkeydown = this.start;
  },
  watch: {
    click: function() {
      this.updateRound();
    }
  },
  methods: {
    clickOnRound: function(event) {
      this.click++;
    },

    clickOnInterface: function() {
      this.click++;
    },
    bonus: function(event) {
      if (this.bonusActivated) {
        console.log("PERFECT");
      } else {
        console.log("looser");
      }
    },

    start: function(event) {
      if (event.key === "Enter") {
        console.log("START");
      }
    },
    updateRound: function() {
      let size = Math.random() * (100 - 10) + 10;
      let top = Math.random() * (60 - 5) + 5;
      let left = Math.random() * (60 - 5) + 5;

      if (size > 80) {
        this.bonusActivated = true;
      } else {
        this.bonusActivated = false;
      }

      this.roundStyle.height = this.roundStyle.width = `${size}px`;
      this.roundStyle.margin = `${top}% ${left}%`;
    }
  }
};
</script>

<style>
.game {
  width: 100%;
  height: 50%;
  display: block;
  background-color: darkslategrey;
}
.round {
  background: aliceblue;
  border-radius: 9999px;
  position: absolute;
}

.bonus {
  background: red;
}
</style>

