<template>
  <div>
    <span v-html="welcomeMessage" :class="{hide : !player}"></span>
    <form @submit.prevent="setPlayer" :class="{hide : player}">
      <input type="text" name="player" id placeholder="Entrez votre nom" />
      <button type="submit">Jouez</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "user",
  data: function() {
    return {
      player: "",
      welcomeMessage: ""
    };
  },

  updated: function() {
    this.welcomeMessage = `Bonjour <span class="player"> ${this.player}</span> `;
  },
  methods: {
    setPlayer: function(event) {
      let playerName = event.target[0].value;
      if (!playerName) {
        alert("Merci de renseigner votre pseudo !");
        return;
      }
      this.player = playerName;
    }
  }
};
</script>

<style >
.hide {
  display: none;
}
</style>
