<template>
  <div id="app">
    <game />
    <score />
    <user />
  </div>
</template>

<script>
import Game from "./components/Game";
import Score from "./components/Score";
import User from "./components/User";

export default {
  name: "App",
  components: { Game, Score, User }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 1000px;
  display: block;
}
</style>
